<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.cn.nvg.dao.mapper.LinkMapper">
  <resultMap id="BaseResultMap" type="com.nju.edu.cn.nvg.pojos.entity.Link">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon_path" jdbcType="VARCHAR" property="iconPath" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_operator" jdbcType="BIGINT" property="createOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="BIGINT" property="updateOperator" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_operator" jdbcType="BIGINT" property="deleteOperator" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, name, icon_path, link_url, create_time, create_operator, update_time, 
    update_operator, delete_time, delete_operator, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from link
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM `link`
    WHERE delete_flag = 0
    ORDER BY create_time DESC
  </select>

  <select id="selectByCategory" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM `link`
    WHERE delete_flag = 0
    and category_id = #{categoryId, jdbcType=BIGINT}
    ORDER BY create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nju.edu.cn.nvg.pojos.entity.Link">
    insert into link (id, category_id, name, 
      icon_path, link_url, create_time, 
      create_operator, update_time, update_operator, 
      delete_time, delete_operator, delete_flag
      )
    values (#{id,jdbcType=BIGINT}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{iconPath,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createOperator,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=BIGINT}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteOperator,jdbcType=BIGINT}, #{deleteFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nju.edu.cn.nvg.pojos.entity.Link">
    insert into link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="iconPath != null">
        icon_path,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteOperator != null">
        delete_operator,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconPath != null">
        #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=BIGINT},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteOperator != null">
        #{deleteOperator,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nju.edu.cn.nvg.pojos.entity.Link">
    update link
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconPath != null">
        icon_path = #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=BIGINT},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteOperator != null">
        delete_operator = #{deleteOperator,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nju.edu.cn.nvg.pojos.entity.Link">
    update link
    set category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      icon_path = #{iconPath,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_operator = #{createOperator,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=BIGINT},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_operator = #{deleteOperator,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>